.logo{
    width: 138px;
    height: 118.4px;
    padding-top: 49px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    /* display: block; */
    width: 707px;
    height: 104px;
    /* padding-top: 20px; */
    /* margin-top: 20px;
    margin-bottom: 20px; */
    border-radius: 34px;
    background-color: #B8C1DC;
    margin-left: auto;
    margin-right: auto;
    /* flex-shrink: 0; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu p{
    font-size: 40px;
    font-family: Arial;
    padding-left: 40px;
    line-height: 50%;
    color: #001151;
}

.menucont{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    margin-top: 100px;
} 

/* .menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightblue;
    justify-content: space-between;
}

.menu {
    background-color: lightblue;
    margin: 10px;
    padding: 20px;
} */