.logo{
    width: 138px;
    height: 118.4px;
    padding-top: 49px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Language Button */

.switch {
    position: absolute;
    margin-left: 620px;
    margin-top: 40px;
  }
  
  .switch > span {
    position: absolute;
    top: 15px;
    pointer-events: none;
    font-family: Calibri;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
    color: #fff;
  }
  
  input.check-toggle-round-flat:checked ~ .on {
    color: #132B82;
  }
  
  .switch > span.on {
    padding-left: 2px;
    color: #fff;
  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #132B82;
  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    
  }
  
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 147px;
    height: 52px;
    background-color: #A1ACD0;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    /* box-shadow: inset 0 0 3px rgba(0, 0, 0, 4); */
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #A1ACD0;
    
    -moz-border-radius: 60px;
    -ms-border-radius:60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 73px;
    background-color: #132B82;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 70px;
  }


/* Menu with options */

.menu{
    width: 707px;
    height: 104px;
    border-radius: 34px;
    background-color: #B8C1DC;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu p{
    font-size: 40px;
    font-family: Arial;
    padding-left: 40px;
    line-height: 50%;
    color: #001151;
}

.menucont{
    margin-top: 150px;
} 

.menu i{
    float: right;
    padding-right: 30px;
    line-height: 50%;
}

.menu a{
    text-decoration: none;
}