.line1 {
    width:1015px;
    height:1px;
    position:absolute;
    border: 18px solid #A1ACD0;
    transform:rotate(90deg);
    margin-left: 190px;
    margin-top:871px; 
    background: #A1ACD0;
    border-radius: 50px;
}
.line2 {
    width:1000px;
    height:1px;
    position:absolute;
    border: 18px solid #A1ACD0;
    transform-origin:top;
    transform:rotate(90deg);
    margin-left: -416px;
    margin-top: 867px; 
    background: #A1ACD0;
    border-radius: 50px;
}
.line3 {
    width:448px;
    height:1px;
    position:absolute;
    border: 18px solid #A1ACD0;
    transform-origin:top;
    transform:rotate(136deg);
    margin-left: 16px;
    margin-top: 225px;
    background: #A1ACD0;
    border-radius: 50px;
}
.line4 {
    width:439px;
    height:1px;
    position:absolute;
    border: 18px solid #A1ACD0;
    transform-origin:top;
    transform:rotate(-132deg);
    margin-left: 312px;
    margin-top: 222px;
    background: #A1ACD0;
    border-radius: 50px;
}

img {
    padding: 250px 0px 0px 250px;
    width: 300px;
    height: 244px;
    flex-shrink: 0;
}

h1 {
color: #001870;
text-align: center;
font-family: Calibri;
font-size: 180px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

h2 {
    color: #132B82;
    text-align: center;
    font-family: Calibri;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -25px;
}